node_modules/

bin/

obj/

#Cualquier archivo con extension log
*.log

#archivos .tmp en cualquier subdirectorio
**/*.tmp
**/*.env

notaspersonales.txt
secrest*.txt
#Ignorar archivos de configuración de Visual Studio Code
.vscode/